   .multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}

@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}

.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}

.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
  display: none;
}

.multisteps-form__progress-btn.js-active {
  color: #422d55;
}

.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}




/*.col-12.col-sm-6.check_wrap {
  flex: 0 0 100%;
  max-width: 100%;
}
.multisteps-form__content {
  display: flex;
  flex-wrap: wrap;
}
.multisteps-form__content .check_wrap {
  flex: 0 0 50%;
  font-size: 18px;
}
.multisteps-form__content .form-row.mt-4 {
  width: calc(50%);
  justify-content: center;
  align-items: center;
}
.multisteps-form__content .form-row.mt-4  .multisteps-form__input.form-control{
  width: 100%;
}*/
/*.multisteps-form__content .check_wrap {
  flex: 0 0 50%;
  font-size: 18px;
}*/
.control {
  display: block;
  position: relative;
  /* padding-left: 39px; */
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  padding: 4px 0 7px 38px;
  border: 1px solid #ccc;
  /* margin-right: 0px; */
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 10px;
  left: 6px;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #422d55;
}
/*.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #fbc957;
}*/
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator::after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.multisteps-form__content {
}
.multisteps-form__content .control.control--checkbox {
  /*! background-color: #EAEAEA; */
  position: relative;
  z-index: 1;
}
.multisteps-form__content .control.control--checkbox::before {
  content: "";
  background-color: #f3f4fa;
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /*border: 1px solid #652c75;*/
  transition: all 0.3s;
  opacity: 0;
}
.multisteps-form__content .control.control--checkbox.checked::before {
  width: 100%;
  opacity: 1;
}

.multilevel-form.login-wrap{
  background-color: #f1f1f1;
}


.login-section {
         padding: 15px 0px; 
    }

  .signup-login-banner {
    /*background-image:none;*/
        background-image: url(../images/sign-in/business-solution.jpg);
  } 

  .wrap.d-flex.flex-column.justify-content-between.align-items-center.sign_video {
    background: #fff;
    padding: 0px;
    border-radius: 5px;
  }


  .login-section .top-toolbar {
     /*background-color: #652C75;*/
     padding: 6px 0px;
   }

.login-section .top-toolbar .container {
  display: flex;
  justify-content: space-between;
}

.login-section .top-toolbar .common {
  display: flex;
  align-items: center;
}

.login-section .top-toolbar .common li {
  font-size: 13px;
  color: #bfb3c3;
  margin-right: 40px;
}

.login-section .top-toolbar .common li:last-child {
  margin-right: 0px;
}

.login-section .top-toolbar .common li a {
  font-size: 13px;
  color: #bfb3c3;
  transition: all 0.3s;
  letter-spacing: 0.30px;
}

.login-section .top-toolbar .common li a:hover,
.login-section .top-toolbar .common li a:focus {
  color: #fff;
  /*transform: rotate(360deg);*/
}

.login-section .top-toolbar .info {}

.login-section .top-toolbar .info li {}

.login-section .top-toolbar .info li a {}

.login-section .top-toolbar .social {}

.login-section .top-toolbar .social li {
  margin-right: 6px;
}

.login-section .top-toolbar .social li:first-child {
  margin-right: 25px;
}

.login-section .top-toolbar .social li a {
      background-color: #ffffff;;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
.login-section .top-toolbar .social li a img {
    width: 100%;
}


.login-section .top-toolbar .common li a.flaticon-facebook-logo,
.login-section .top-toolbar .common li a.flaticon-youtube,
footer a.flaticon-facebook-logo,
footer a.flaticon-youtube {
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section .top-toolbar .social li a::before,
footer .social li a::before {
  color: #652C75;
  font-size: 13px;
  transition: all 0.3s;
}

.login-section .top-toolbar .social li a:hover,
.login-section .top-toolbar .social li a:focus{
  background-color: #bfb3c3;
}
.login-section .top-toolbar .social li a:hover::before,
.login-section .top-toolbar .social li a:focus::before {
  color: #652C75;
}

  a.sign_up_for_free_gamification {
    font-size: 18px;
    font-weight: bold;
    padding: 0 26px;
    color: #9e5381;
  }

  a.sign_up_for_free_gamification:hover {
    color: #422d55;
  }