@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaLight.woff2') format('woff2'),
        url('../fonts/NexaLight.woff') format('woff'),
        url('../fonts/NexaLight.ttf') format('truetype'),
        url('../fonts/NexaLight.svg#NexaLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaBold.eot');
    src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaBold.woff2') format('woff2'),
        url('../fonts/NexaBold.woff') format('woff'),
        url('../fonts/NexaBold.ttf') format('truetype'),
        url('../fonts/NexaBold.svg#NexaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-SemiBold.eot');
  src: url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Muli-SemiBold.woff2') format('woff2'),
    url('../fonts/Muli-SemiBold.woff') format('woff'),
    url('../fonts/Muli-SemiBold.ttf') format('truetype'),
    url('../fonts/Muli-SemiBold.svg#Muli-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Bold.eot');
  src: url('../fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Muli-Bold.woff2') format('woff2'),
    url('../fonts/Muli-Bold.woff') format('woff'),
    url('../fonts/Muli-Bold.ttf') format('truetype'),
    url('../fonts/Muli-Bold.svg#Muli-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli.eot');
  src: url('../fonts/Muli.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Muli.woff2') format('woff2'),
    url('../fonts/Muli.woff') format('woff'),
    url('../fonts/Muli.ttf') format('truetype'),
    url('../fonts/Muli.svg#Muli') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  /* margin-left: 20px; */
  transition: all 0.3s;
}


.flaticon-facebook-logo:before { content: "\f100"; }
.flaticon-youtube:before { content: "\f101"; }
.flaticon-calendar:before { content: "\f102"; }
.flaticon-maps-and-flags:before { content: "\f103"; }
.flaticon-list:before { content: "\f104"; }
.flaticon-clock:before { content: "\f105"; }
.flaticon-user:before { content: "\f106"; }
.flaticon-like:before { content: "\f107"; }
.flaticon-star:before { content: "\f108"; }
.flaticon-phone-receiver:before { content: "\f109"; }
.flaticon-mail-black-envelope-symbol:before { content: "\f10a"; }
.flaticon-email:before { content: "\f10b"; }
.flaticon-avatar:before { content: "\f10c"; }
.flaticon-mobile-phone:before { content: "\f10d"; }
.flaticon-lock:before { content: "\f10e"; }
.flaticon-down-arrow:before { content: "\f10f"; }
.flaticon-angle-arrow-down:before { content: "\f110"; }
.flaticon-gift:before { content: "\f111"; }
.flaticon-credit-card:before { content: "\f112"; }
.flaticon-edit:before { content: "\f113"; }

/* Icons Hover Colors */
.flaticon-facebook-logo:hover,
.flaticon-facebook-logo:focus {
  background-color: #3b5999 !important;
}
/* Icons Hover Colors */
.flaticon-facebook-logo:hover::before,
.flaticon-facebook-logo:focus::before,
.flaticon-youtube:hover::before,
.flaticon-youtube:focus::before {
  color: #fff !important;
}

.flaticon-youtube:hover,
.flaticon-youtube:focus {
  background-color: #cd201f !important;
}

/* =========================================
    Basic Style CSS Start
============================================ */
body {
  margin: 0;
  padding: 0;
  font-family: 'Muli';
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: initial;
  font-weight: bold;
    font-family: 'Nexa';
}
h1{
  font-size: 60px;
}
h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 30px;
}
h3{
    font-size: 40px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 40px;
}
h4{
    font-size: 30px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 40px;
}
h6{
  font-size: 24px;
}
p{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 18px;
  font-family: 'Muli';
}


a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.img{
    width: 100%;
}
@media(min-width: 1200px){
  .container {
    max-width: 1170px;
    padding: 0;
  }
}
/* =========================================
    Basic Style CSS End
============================================ */
/* ==================================
    Button Style Start
===================================== */

.btn{
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    font-family: 'Nexa';
    background-color: #fbc957;
    padding: 13px 27px;
    border-radius: 50px;
    color: #000;
    text-transform: uppercase;
    transition: all 0.3s;
}
.btn:hover,
.btn:focus{
    background-color: #422d55;
    color: #fff;
}
/* ==================================
    Button Style Start
===================================== */

/* ==================================
    Color Style Start
===================================== */
.purple{
    color: #652C75 !important;
}
.purple-bg{
   background-color: #652C75 !important;
}
/* ==================================
    Color Style End
===================================== */

/* ==================================
    Background Images Style Start
===================================== */
.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.signup-login-banner {
  background-image: url('../images/signup-login.jpg');
}
.home-banner {
  background-image: url('../images/home-banner.jpg');
}


/* ==================================
    Background Images Style End
===================================== */
/* =========================================
    Navigation Style CSS Start
============================================ */
header {}

header .top-toolbar {
  background-color: #652C75;
  padding: 6px 0px;
}

header .top-toolbar .container {
  display: flex;
  justify-content: space-between;
}

header .top-toolbar .common {
  display: flex;
  align-items: center;
}

header .top-toolbar .common li {
  font-size: 13px;
  color: #bfb3c3;
  margin-right: 40px;
}

header .top-toolbar .common li:last-child {
  margin-right: 0px;
}

header .top-toolbar .common li a {
  font-size: 13px;
  color: #bfb3c3;
  transition: all 0.3s;
  letter-spacing: 0.30px;
}

header .top-toolbar .common li a:hover,
header .top-toolbar .common li a:focus {
  color: #fff;
}

header .top-toolbar .info {}

header .top-toolbar .info li {}

header .top-toolbar .info li a {}

header .top-toolbar .social {}

header .top-toolbar .social li {
  margin-right: 6px;
}

header .top-toolbar .social li:first-child {
  margin-right: 25px;
}

header .top-toolbar .social li a {}

header .top-toolbar .common li a.flaticon-facebook-logo,
header .top-toolbar .common li a.flaticon-youtube,
footer a.flaticon-facebook-logo,
footer a.flaticon-youtube {
  background-color: #bfb3c3;
  width: 22px;
  height: 22px;
  border-radius: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .top-toolbar .social li a::before,
footer .social li a::before {
  color: #652C75;
  font-size: 13px;
  transition: all 0.3s;
}

header .top-toolbar .social li a:hover::before,
header .top-toolbar .social li a:focus::before {
  color: #fff;
}
header .navigation {
    padding: 9px 0px;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.15);
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    max-width: 102px;
    margin-left: 17px;
}
header .logo a{
    display: inline-block;
}
header .logo a img{
    width: 100%;
}
header nav{}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li{
    margin-right: 33px;
}
header nav ul li:last-child{
    margin-right: 0px;
}
header nav ul li a {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    transition: all 0.3s;
}
header nav ul li a:hover,
header nav ul li a.active,
header nav ul li a:focus {
    color: #c5416e;
}
header nav ul li.sign-log {
}
header nav ul li.sign-log a {
    font-weight: bold;
    display: inline-block;
    background-color: #fbc957;
    padding: 13px 27px;
    border-radius: 50px;
    text-transform: uppercase;
}
header nav ul li.sub-menu ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: auto;
  min-width: 184px;
  width: auto;
  box-shadow: 0 6px 9px 0 rgba(0,0,0,.25);
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  padding-bottom: 4px;
  transition: all .3s;
  background-color: #fff;
  padding: 15px 0px;
  border-radius: 5px;
}
header nav ul li.sub-menu:focus ul,
header nav ul li.sub-menu:hover ul {
  visibility: visible;
  opacity: 1;
}
header nav ul li.sub-menu ul li {
  margin: 0;
  width: 100%;
  display: block;
  padding: 0 15px;
}
header nav ul li.sub-menu ul li a{}
header nav ul li.sub-menu > a::after {
  content: "\f110";
  font-family: Flaticon;
  font-size: 9px;
  margin-left: 5px;
}

  #nav-icon {
      width: 25px;
      height: 20px;
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      right: 0;
      z-index: 999;
      top: 0px;
      float: right;
      position: relative;
      display: none
  }

  #nav-icon span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #652C75;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out
  }

  #nav-icon span:nth-child(1) {
      top: 0
  }

  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
      top: 8px
  }

  #nav-icon span:nth-child(4) {
      top: 16px
  }

  #nav-icon.active span:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%
  }

  #nav-icon.active span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg)
  }

  #nav-icon.active span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg)
  }

  #nav-icon.active span:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%
  }
  .menu-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.8);
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
      visibility: hidden;
      opacity: 0;
      cursor: pointer;
      transition: all .5s;
  }
  .menu-overlay.active {
      visibility: visible;
      opacity: 1;
  }
  header .top-toolbar .info li a i{
    display: none;
  }
  header .top-toolbar .info li a i::before {
    font-size: 13px;
  }
/* =========================================
    Navigation Style CSS End
============================================ */


/* =========================================
    Footer Style CSS Start
============================================ */
footer {
    background-color: #222222;
    color: #fff;
    padding: 60px 0px 0px;
}

footer h6 {
    font-size: 18px;
    margin-bottom: 4px;
}
footer .logo{
    margin-bottom: 20px;
}
footer .logo a{}
footer .logo a img{}
footer .wrap{
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 0px 45px;
}
footer .wrap h6 {
    font-size: 18px;
    margin-bottom: 17px;
}
footer p {
    font-size: 13px;
    color: #c6c6c6;
}
footer .menu {
    display: flex;
    justify-content: space-between;
}

footer ul{}
footer ul li{}
footer ul li a{
    font-size: 13px;
    color: #c6c6c6;
}
footer .custom-bor {
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}
footer .social {
    display: flex;
    margin-top: 14px;
}
footer .social li{
    margin-right: 10px;
}
footer .social li:last-child{
    margin-right: 0px;
}
footer .social li a{
    width: 30px;
    height: 30px;
    background-color: #c4c4c4;
}
footer ul li a:hover,
footer ul li a:focus{
    color: #fbc957;
}
footer .social li a::before{
    color: #222222;
    font-size: 16px;
}
footer ul li a i::before {
    font-size: 16px !important;
    margin-right: 12px;
    color: #fbc957;
}
footer .bottom{
    background-color: #181818;
    text-align: center;
    padding: 22px 0px;
    margin-top: 45px;
}
footer .bottom p{
    margin-bottom: 0px;
    color: #7c7c7c;
}
/* =========================================
    Footer Style CSS End
============================================ */



/* =========================================
    Login Page Style CSS Start
============================================ */
.login-section {
    padding: 65px 0px;
}
.login-wrap {
    max-width: 550px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    background-color: #fff;
    padding: 35px 50px 45px;
    border-radius: 5px;
    margin: 0 auto 25px;
}
.login-wrap h4{
    margin-bottom: 5px;
}
.login-wrap p {
    font-size: 21px;
    margin-bottom: 33px;
}
.login-wrap .form-group {
    position: relative;
}
.login-wrap .form-group .form-control{}
.login-wrap a {
    color: #333333;
    font-size: 15px;
}
.login-wrap a:hover {
    color: #652C75;
}
.login-wrap .btn-group {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
.login-wrap a.btn {
    border: 2px solid #000;
    margin: 0 11px !important;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    max-width: 150px;
    width: 100%;
    border-radius: 3px !important;
    padding: 11px 10px;
}
.btn-group {
    width: 100%;
}
.btn-group .btn:first-child{
    margin-left: 0 !important;
}
.btn-group .btn:last-child{
    margin-right: 0 !important;
}
.login-wrap a.facebook-btn{
    background-color: #3b589e;
    border-color: #3b589e;
}
.login-wrap a.google-btn{
    background-color: #dc4e41;
    border-color: #dc4e41;
}
.login-wrap a.facebook-btn:hover,
.login-wrap a.facebook-btn:focus{
    border-color: #2f4a8d ;
    background-color: #2f4a8d;
}
.login-wrap a.google-btn:hover,
.login-wrap a.google-btn:focus{
    border-color: #cb3c2f  ;
    background-color: #cb3c2f ;
}
/* .login-wrap a.btn:hover{
    background-color: #2f4a8d ;
} */

.login-wrap p.login-with {
    font-size: 16px;
    text-align: center;
    color: #afafaf;
    margin-top: 10px;
}
.login-wrap p.login-with {
    font-size: 16px;
    text-align: center;
    color: #afafaf;
    margin-top: 10px;
    position: relative;
    z-index: 0;
    max-width: 320px;
    margin: 15px auto 10px;
    display: inline-block;
}
.login-wrap p.login-with::before,
.login-wrap p.login-with::after {
    content: "";
    width: 95px;
    height: 1px;
    background-color: #afafaf;
    left: -110px;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.login-wrap p.login-with::after {
    right: -110px;
    left: auto;
}
.login-section > p{
    font-size: 16px;
    color: #333333;
}
.form-group{
    height: 50px;
    margin-bottom: 20px;
}
.form-control {
    background-color: transparent;
    border: 1px solid #9ba2a6;
    height: 50px;
    border-radius: 7px;
    height: 100%;
    padding-left: 55px;
    font-size: 15px;
    color: #545454;
}
.form-control:focus{
    box-shadow: none;
    border-color: #652C75;
    background-color: transparent;
    outline: none;
}
.email::after{
    content: "\f10b";
}
.lock::after{
    content: "\f10e";
}
.user::after{
    content: "\f10c";
}
.mobile::after{
    content: "\f10d";
}
.facebook-logo::after { content: "\f100"; }
.youtube::after { content: "\f101"; }
.calendar::after { content: "\f102"; }
.maps-and-flags::after { content: "\f103"; }
.list::after { content: "\f104"; }
.clock::after { content: "\f105"; }
.user::after { content: "\f106"; }
.like::after { content: "\f107"; }
.star::after { content: "\f108"; }
.phone-receiver::after { content: "\f109"; }
.mail-black-envelope-symbol::after { content: "\f10a"; }
.email::after { content: "\f10b"; }
.avatar::after { content: "\f10c"; }
.mobile-phone::after { content: "\f10d"; }
.lock::after { content: "\f10e"; }
.down-arrow::after { content: "\f10f"; }
.angle-arrow-down::after { content: "\f110"; }
.gift::after { content: "\f111"; }
.credit-card::after { content: "\f112"; }
.edit::after { content: "\f113"; }

.icon-after {
    position: relative;
}
.icon-after::after {
    font-family: "Flaticon";
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 27px;
    transform: translateY(-50%);
    color: #9ba2a6;
}

.form-group.rem-forget {
    height: auto;
    margin-bottom: 25px;
}
.checkbox-wrap{
    font-size: 15px;
    color: #333333;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
    margin-bottom: 0;
}
.styled-checkbox + label::before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #9ba2a6;
    border-radius: 3px;
}
.styled-checkbox:hover + label:before {
  background: #fff;
}
.styled-checkbox:focus + label:before {
  box-shadow: none;
}
.styled-checkbox:checked + label:before {
  background: #fff;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: #652C75;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #652C75, 4px 0 0 #652C75, 4px -2px 0 #652C75, 4px -4px 0 #652C75, 4px -6px 0 #652C75, 4px -8px 0 #652C75;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.login-section p{
    color: #333333;
}
.login-wrap.signup{
    max-width: 600px;
}
.login-wrap.signup .checkbox-wrap label a{
    color: #c5416e;
}
.login-wrap.signup .checkbox-wrap label a:hover,
.login-wrap.signup .checkbox-wrap label a:focus{
    color: #652C75;
}
.login-section p.bottom-link a{
    color: #333333;
}
.login-section p.bottom-link a:hover,
.login-section p.bottom-link a:focus {
    color: #652C75;
    text-decoration: underline;
}

/* =========================================
    Login Page Style CSS End
============================================ */

/* =========================================
    Homepage CSS Start
============================================ */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../images/select-dropdown.png');
  background-repeat: no-repeat;
  background-position: 95% center;
}
#home-banner {
  padding: 70px 0px;
}
#home-banner .text-wrap{}
#home-banner .text-wrap h1 {
  margin-bottom: -10px;
}
#home-banner .text-wrap h4{
  margin-bottom: 15px;
  font-weight: 600;
  font-family: 'Muli';
}
#home-banner .text-wrap p{
  font-size: 18px;
  margin-bottom: 30px;
}
#home-banner .text-wrap p.bold-para{
  font-size: 21px;
  margin-bottom: 13px;
}
#home-banner .login-wrap.signup {
  max-width: 370px;
  padding: 24px 25px 40px;
  background-color: rgba(255,255,255,0.83);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.10);
  margin-left: 0;
  margin-bottom: 0;
}
#home-banner .login-wrap.signup h4{
  font-size: 24px;
  margin-bottom: 0px;
}
#home-banner .login-wrap.signup p{
  font-size: 15px;
  margin-bottom: 25px;
}
#home-banner .login-wrap.signup .form-group{
  margin-bottom: 10px;
  height: 45px;
}

#home-banner .login-wrap.signup .form-group .btn{
  margin-top: 5px;
}
#home-banner .login-wrap.signup .form-group .form-control {
  padding-left: 45px;
  font-size: 14px;
  background-color: #fff;
}
#home-banner .login-wrap.signup .form-group.icon-after::after {
  left: 12px;
  font-size: 22px;
}
.btn-group a {
  margin-right: 15px;
}
.btn-group a:last-child {
  margin-right: 0px;
}

.choose {
    padding: 70px 0px;
}
.choose .row{
  margin-top: 50px;
}
.choose .box{
  border-radius: 5px;
  padding: 30px 35px 30px;
  background-color: #f7f5f5;
}
.choose .box span{
    margin-bottom: 10px;
    display: inline-block;
    min-height: 90px;
}
.choose .box span::before{
  font-size: 60px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#652c74+0,c5416e+100 */
background: rgb(101,44,116); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(101,44,116,1) 0%, rgba(197,65,110,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(101,44,116,1) 0%,rgba(197,65,110,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(101,44,116,1) 0%,rgba(197,65,110,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#652c74', endColorstr='#c5416e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradieant{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#652c75+28,c5416e+72 */
background: rgb(101,44,117); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(101,44,117,1) 28%, rgba(197,65,110,1) 72%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(101,44,117,1) 28%,rgba(197,65,110,1) 72%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(101,44,117,1) 28%,rgba(197,65,110,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#652c75', endColorstr='#c5416e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.choose .box.purple-bg span::before{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}
.choose .box span.meter {
  max-width: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}
.choose .box h6{
    line-height: 32px;
    margin-bottom: 18px;
}
.choose .box p{}

.yoga {
    padding: 70px 0px;
}
.yoga .container,
.lesson .container {
  max-width: 1380px;
}
.yoga  h4{
  margin-bottom: 25px;
}
.yoga p {
  color: #545454;
}

.bold-para {
  color: #000 !important;
  font-size: 18px;
}
.yoga p.bold-para {
  font-weight: 600;
}
.yoga .btn {
  padding: 13px 40px;
}
.yoga.mobile-screen{
  padding: 0;
  background-color: #f7f5f5;
  background-image: url('../images/pattern.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  padding-top: 90px;
}
.yoga.mobile-screen .text-wrap img{
  margin-bottom: 30px;
}
.yoga.mobile-screen h3 {
  margin-bottom: 10px;
}
.lesson {
  padding: 70px 0px 100px;
}
.lesson h3 {
    margin-bottom: 30px;
}
.lesson p.georgia{
    font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.lesson p span{
  font-size: 20px;
  font-family: "Georgia";
}
.lesson .list-wrap {
    margin-top: 75px;
}
.lesson .list-wrap ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 85px;
}
.lesson .list-wrap ul:nth-child(1){
  max-width: 1050px;
}
.lesson .list-wrap ul:nth-child(2){
  margin-bottom: 0px;
  max-width: 1345px;
}
.lesson .list-wrap ul li .img-wrap {
  width: 126px;
  height: 126px;
  margin: 0 auto 15px;
  background-color: rgba(0,0,0,0.15);
  border-radius: 50%;
  transition: all 0.5s;
}
.lesson .list-wrap ul li:hover .img-wrap {
  background-color: rgba(0, 0, 0, 0.3);
}
.lesson .list-wrap ul li .img-wrap img{
  width: 100%;
}
.lesson .list-wrap ul li a {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 600;
  font-family: 'Nexa';
  color: #fff;
  transition: all 0.3s;
}
.lesson .list-wrap ul li a:hover,
.lesson .list-wrap ul li a:focus{
  color: #fbc957;
}
.news {
  padding: 70px 0px;
}
.news h3{
  margin-bottom: 55px;
}
.news .wrap {
  box-shadow: 0px 6px 15px rgba(0,0,0,0.07);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
    padding-bottom: 30px;
}
.news .wrap .img-wrap{
  position: relative;
  overflow: hidden;
}
.news .wrap .img-wrap::before {
  content: "";
  position: absolute;
  background: #fff;
  height: 65%;
  bottom: -59%;
  left: -40%;
  width: 180%;
  border-radius: 50%;
}
.news .wrap .text-wrap {
    padding: 25px 25px 30px;
    position: relative;
}
.news .wrap .text-wrap h6 {
  font-size: 21px;
  margin-bottom: 20px;
}
.news .wrap .text-wrap h6 span{}
.news .wrap .text-wrap h6 span{
  font-size: 14px;
  color: #9c9c9c;
  font-family: 'Muli';
  font-weight: 400;
}
.news .wrap .text-wrap p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #545454;
  line-height: 21px;
  margin-bottom: 0px;
}
/* .news .box{
  height: 100%;
} */
.news .btn {
  max-width: 175px;
  width: 100%;
  background-color: transparent;
  color: #652c74;
  border-color: #652c74;
  /* position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto; */
}
.news .btn:hover,
.news .btn:focus {
  background-color: #652c74;
  color: #fff;
}
.lesson.package {
  padding: 70px 0px;
  position: relative;
  z-index: 0;
}
.lesson.package::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('../images/pattern-2.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.lesson.package h2 {
  margin-bottom: 10px;
}
.lesson.package p{}
.lesson.package .btn{
  max-width: 170px;
  width: 100%;
}
/* =========================================
    Homepage CSS End
============================================ */

/* =========================================
    Basic Style CSS Start
============================================ */


/* =========================================
    Basic Style CSS End
============================================ */


/* =========================================
    MediaQuery CSS Start
============================================ */
@media(max-width: 1400px){
  .lesson .list-wrap ul:nth-child(1) {
    max-width: 860px;
  }
  .lesson .list-wrap ul:nth-child(2) {
    max-width: 1065px;
  }
}
@media(max-width: 1200px){
  .container {
    max-width: calc(100% - 30px);
    padding: 0 15px;
  }
  header nav ul li {
    margin-right: 25px;
  }
}
@media(max-width: 1100px){
  .choose .box {
    padding: 30px 20px 30px;
  }
  .choose .box h6 {
    font-size: 22px;
  }
  .lesson .list-wrap ul li a {
    font-size: 18px;
  }
  .lesson .list-wrap ul li .img-wrap {
    width: 110px;
    height: 110px;
  }
  .lesson .list-wrap ul {
    margin-bottom: 50px;
  }
  .lesson .list-wrap ul:nth-child(1) {
    max-width: 750px;
  }
  .lesson .list-wrap ul:nth-child(2) {
    max-width: 900px;
  }
  .yoga.mobile-screen {
    padding-top: 70px;
  }

  footer .wrap {
    max-width: 270px;
  }
}
@media(max-width: 1024px){
  header nav ul li.sign-log a {
    padding: 8px 20px;
    font-size: 12px;
  }
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 37px;
  }
  h4 {
    font-size: 27px;
  }
}
@media(max-width: 991px){
  header nav {
    position: fixed;
    top: 0;
    right: -350px;
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    height: 100vh;
    padding: 100px 60px 0;
    transition: all .3s;
    z-index: 10;
  }
  header nav.active {
    right: 0;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li{
      width: 100%;
      margin: 0 0 7px;
  }
  header nav ul li.sub-menu ul {
    position: relative;
   /*  visibility: visible; */
    top: 0;
    opacity: 1;
    /* height: auto;
    min-height: auto;*/
    min-width: 100%;
    box-shadow: none;
    /* height: 0; */
    overflow: hidden;
    /* transition: all .5s; */
    padding: 0;
    visibility: visible;
    display:none;
  }
  header nav ul li.sub-menu ul.active {
    height: auto;
    overflow: auto;
  }
  #nav-icon{
    display: block;
  }
  header .logo {
    max-width: 60px;
  }
  header nav ul li a {
    display: block;
  }

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }

}
@media(max-width: 767px){
    .login-wrap.signup {
        max-width: calc(100% - 30px);
    }
    header .top-toolbar .common li {
      margin-right: 20px;
    }
}

@media(max-width: 670px){
  header .top-toolbar .info li a i{
    display: block;
  }
  header .top-toolbar .info li a{
    font-size: 0;
  }
  header .top-toolbar .common li {
    display: flex;
  }
}
@media(max-width: 575px){
    h4 {
        font-size: 26px;
    }
   .login-wrap p {
        font-size: 18px;
        margin-bottom: 22px;
    }
    .form-group {
        height: 45px;
    }
    .icon-after::after {
        font-size: 22px;
    }
    .login-wrap,
    .login-wrap.signup {
        max-width: calc(100% - 30px);
        padding: 35px 30px 45px;
    }
    .login-wrap .form-group .btn {
        height: 100%;
        padding: 0 0;
    }
    .login-wrap p.login-with {
        margin: 0;
    }
    .login-section {
        padding: 40px 0;
    }
}
@media(max-width: 400px){
    .login-wrap a.btn {
        padding: 8px 10px;
        font-size: 14px;
    }
    .icon-after::after {
        font-size: 20px;
        left: 10px;
    }
    .form-control {
        padding-left: 40px;
    }
    p {
        font-size: 14px;
    }
    .login-wrap,
    .login-wrap.signup {
        padding: 30px 20px 30px;
    }
    .checkbox-wrap,
      .login-wrap a {
        font-size: 12px;
    }
    .styled-checkbox + label::before {
        width: 15px;
        height: 15px;
    }
    .login-wrap p.login-with {
        font-size: 12px;
        display: block;
    }
    .login-wrap p.login-with::before, .login-wrap p.login-with::after {
        width: 30%;
        left: 0px;
    }
    .login-wrap p.login-with::after {
        right: 0px;
        left: auto;
    }
    header nav {
      right: -100%;
      max-width: 100%;
    }
}
/* =========================================
    MediaQuery CSS End
============================================ */

.error {
    color: #e85353;
}
.error-title {
    font-size: 13px;
    margin-top: -5px;
    position: absolute;
    bottom: -25px;
}
.login-wrap .checkbox-wrap.form-group .error-title {
    bottom: -5px;
}

/*Customer Login start*/
.span-error{
	color:red;
}
/*Customer Login end*/
