.jq-ry-container {
  padding: 0;
}
.jq-ry-container svg {
  margin: 0px 8px 5px 0;
}

.pop-slider.online-package-slider .swiper-container {
   overflow: hidden;
   }
.pop-slider.online-package-slider .swiper-container{
      padding: 0;
}
.pop-slider.online-package-slider {
   padding: 40px 20px;
}
.book-session-modal .login-wrap.signup.pop-slider-bg {
   background-color: transparent;
   padding: 0 20px; 
   margin-top: 0;
}

.gallery-social-icon .gallery-social-wrap {
    display: flex;
    justify-content: center;
}

.gallery-social-icon .social {
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
}

.gallery-social-icon .social li {
    margin-right: 10px;
}

.gallery-social-icon .social li.instragram a img {
    width: 65%;
}

.gallery-social-icon .social li a {
    width: 30px;
    height: 30px;
    background-color: #c4c4c4;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    transition: all 0.3s;
}

.gallery-social-icon .social li.instragram a {
    width: 30px;
    height: 30px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-social-icon .social li a:hover {
  background-color: transparent;
  border: 1px solid #652C75 !important;
}

/*.gallery-social-icon .social li a:hover img {
    filter: invert(1);
}*/

.gallery-social-icon a.flaticon-facebook-logo {
    background-color: #bfb3c3;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-social-icon {
    padding: 30px 0px;
}

.gallery-social-wrap h6 {
  font-size: 18px;
  margin-top: 3px;
}
 @media(max-width:991px){
              .list-wrapper.profile .list-box {
          max-width: 698px;
        }
}
@media(max-width:767px){
        .profile-details .balance_btn_grp .btn, .login-wrap .btn-group .btn.anchore-btn {
        font-size: 12px;
        padding: 10px 12px;
      }
      .profile-details .btn-group > div {
          margin: 0 3px;
        }
                .list-wrapper.profile .list-box {
        max-width: 548px;
      }
      .pop-slider.online-package-slider {
        padding: 30px 15px;
      }
     .pop-slider.online-package-slider .box .bottom-wrap .btn {
      min-width: 150px;
    }
}
@media(max-width:767px){
    .list-wrapper.profile .list-box {
      max-width: 495px;
    }
     .pop-slider.online-package-slider .box .top h6 {
    font-size: 18px;
  }
}

@media(max-width:575px){
 
  .list-wrapper.profile .list-box {
    max-width: 450px;
    margin: 0 auto;
  }
}
@media(max-width:480px){
  .list-wrapper.profile .list-box {
    max-width: 330px;
    margin: 0 auto;
  }
}

.text-center.teacher-public-prmotional a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

.text-center.teacher-public-prmotional{
  margin-top: 14px;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23444444'%2F><%2Fsvg>") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23444444'%2F%3E%3C%2Fsvg%3E") !important;
}

.btn-prof-services{
    font-size: 15px;
      font-family: 'Nexa';
      padding: 8px 13px;
      border-radius: 50px;
      color: #000;
      letter-spacing: 1px;
      transition: all 0.3s;
      border: 1px solid #6e6a737a;
  }